app/db/*

*.bak

app/views/dashboard/custom_dashboard.php

custom

config.php
*.DS_Store

*.zip

vendor/*

composer.lock
composer.local.*

local/dashboards/*.yml
local/certs/*.crt
local/certs/*.key
local/module_configs/*.yml
